/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* REGOLE UTILITY
.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
} */

/* PER VEDERE I CONTAINER */
/* .debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
} */

/* HEADER */
.logo {
  width: 150px;
}
.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.nav-links {
  display: flex;
}
.nav-links a,
.icons i {
  margin: 0 1rem;
}
.fa-solid.fa-bars.hamburger {
  display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
  /* HEADER */
  .fa-solid.fa-bars.hamburger {
    display: block;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    width: 50%;
    box-shadow: 0px 0px 3px #888888;
    display: none;
  }
  .nav-links a {
    margin: 1rem 1rem;
  }
  .nav-links.display {
    display: flex;
  }
  .logo {
    width: 100px;
  }
}
/* GRIGLIA DI COLONNE */
/* .container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
} */
